@model  Abc.MvcWebUI.Models.OrderDetailsModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

    <div class="container">
        <div class="row">
            <div class="col-md-121">
                <h2>Sipariş detay bilgileri</h2>
                <hr />


                <d1 class="row">

                    <dt class="col-sm-3">Username</dt>
                    <dd class="col-sm-9">@Model.Username</dd>

                        <dt class="col-sm-3">Order State</dt>
                    <dd class="col-sm-9">

                        <div class="row">
                            @using (Html.BeginForm("UpdateOrderState", "Order", FormMethod.Post))
                            {
                                @Html.HiddenFor(i => i.OrderId)
                                <div class="col-md-10">
                                    @Html.EnumDropDownListFor(i => i.OrderState, "Select Order State", new { @class = "form-control" })
                                </div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-primary btn-sm">Güncelle</button>
                                </div>
                            }
                        </div>





                    </dd>




                    <dt class="col-sm-3">Order Id</dt>
                    <dd class="col-sm-9">@Model.OrderId</dd>

                    <dt class="col-sm-3">Order Number</dt>
                    <dd class="col-sm-9">@Model.OrderNumber</dd>

                    <dt class="col-sm-3">Order Total</dt>
                    <dd class="col-sm-9">@Model.Total</dd>

                    <dt class="col-sm-3">Order Date</dt>
                    <dd class="col-sm-9">@Model.OrderDate</dd>


                    <dt class="col-sm-3">
                        Adres
                    </dt>
                    <dd class="col-sm-9">
                        @Model.AdresBasligi<hr />
                        @Model.Adres
                        <br />@Model.Sehir-@Model.Semt-@Model.Mahalle
                        <br />
                        @Model.PostaKodu


                    </dd>

                    <dt class="col-sm-3">Product</dt>
                    <dd class="col-sm-9">

                        <table class="table table-bordered">

                            <thead>

                                <tr>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model.Orderlines)
                                {
                                    <tr>
                                        <td>
                                            <img src="~/Upload/images.jpeg" />
                                        </td>
                                        <td>@item.ProductName</td>
                                        <td>@item.Quantity</td>
                                        <td>@item.Price</td>
                                        <td>
                                            <a href="/Home/Details/@item.ProductId" class="btn btn-primary" target="_blank">Ürün detayı</a>
                                        </td>


                                    </tr>

                                }





                            </tbody>



                        </table>





                    </dd>





                </d1>





            </div>



        </div>


    </div>

